body {
  color: white;
  font-family: monospace;
  background-color: #111;
}

.container {
  width: 320px;
  margin: 0 auto;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.map {
  user-select: none;
}

.editor {
  margin-top: 20px;
}

.help {
  color: #f24;
}

input {
  width: 100%;
  background: #111;
  font-family: monospace;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
}

input:focus {
  outline: 0;
}
