body {
  color: white;
  font-family: monospace;
  background-color: #111;
}

.container {
  width: 320px;
  margin: 0 auto;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.map {
  background: #111;
  display: grid;
  width: 320px;
  height: 320px;
  grid-template-rows: repeat(16, minmax(0, 1fr));
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.field {
  margin: 0;
  padding: 0;
  background-color: white;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 1px 1px 0 0;
  transform-origin: center center;
  transform: scale(1);
}

.editor {
  margin-top: 20px;
}

input {
  width: 100%;
  background: #111;
  font-family: monospace;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
}

input:focus {
  outline: 0;
}
